<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ログイン</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="container">
    <form method="post" action="login">
      <p class="fsize">ログイン画面</p>
      <input type="text" placeholder="Username" id="Username" name="username" />
      <input type="password" placeholder="Password" id="password" name="password" />
      <button type="submit">ログイン</button>
    </form>
  </div>
</body>
</html>
